name: Test and coverage

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.17'
      - name: Run coverage
        run: TESTS_ENABLE_INTEGRATIONS=1 pgo test -race -coverprofile=coverage.txt -covermode=atomic ./src
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
    services:
      # Label used to access the service container
      minio:
        command: server /data --console-address ":9001"
        image: minio/minio
        restart: unless-stopped
        volumes:
          - ./minio-data:/data
        ports:
        - "9000:9000"
        - "9001:9001"
        environment:
          MINIO_ROOT_USER: root
          MINIO_ROOT_PASSWORD: topsecret
